.loading-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  color: black;
  font-size: 3rem;
  font-family: "Courier New", Courier, monospace;
  padding: 0 20px;
  box-sizing: border-box;
}

.scramble-text {
  text-align: center;
  word-wrap: break-word;
  max-width: 100%;
}

@media (max-width: 768px) {
  .loading-screen {
    font-size: 2rem;
    padding: 0 10px;
  }
}
