@tailwind base;
@tailwind components;
@tailwind utilities;

[data-amplify-authenticator] {
  --amplify-components-authenticator-router-box-shadow: 0 0 16px
    var(--amplify-colors-overlay-20);
  --amplify-components-authenticator-router-border-width: 0;
  --amplify-components-authenticator-form-padding: var(--amplify-space-medium)
    var(--amplify-space-xl) var(--amplify-space-xl);
  --amplify-components-tabs-item-active-border-color: var(
    --amplify-colors-neutral-100
  );
  --amplify-components-tabs-item-color: var(--amplify-colors-neutral-80);
  --amplify-components-tabs-item-active-color: var(--amplify-colors-neutral-50);
  --amplify-components-button-link-color: var(--amplify-colors-neutral-80);
}

.amplify-button--primary {
  background: #8ee3ec;
  color: black;
}

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #e5f8fa; /* Change to your desired color */
}
